<template>
  <div class="splash-main" id="home">
    <div class="content">
      <div class="branding">
        <div class="logo">
          <img src="/img/logo/black.png" alt="">
        </div>
        <div class="statement">
          Since 2014, Patterson Automation Solutions LLC has developed programs to produce custom reports for Insurance
          Carriers, Managing General Agencies, Reinsurers, and Independent Insurance Agents.
        </div>
        <div class="offerings">
          <div class="box">
            <div class="title">Lloyds Compliance Reports</div>
            <ul>
              <li>Risk Level Data Bordereau</li>
              <li>Premium Bordereau</li>
              <li>Claims Bordereau</li>
            </ul>
          </div>
          <div class="box">
            <div class="title">Management Reports</div>
            <ul>
              <li>Underwriting/Marketing Hit Ratio Reports</li>
              <li>Select Territory Analysis</li>
              <li>Loss Ratio Reporting</li>
              <li>Producer Comparative Performance Reports</li>
              <li>Escrow and Cash Receipts Analysis</li>
            </ul>
          </div>
          <div class="box">
            <div class="title">Additional Services Provided</div>
            <ul>
              <li>Specialized Reporting for Audits</li>
              <li>Conversion Assistance</li>
              <li>Positive Pay Reporting</li>
              <li>Training in the use of AIM Accounting Software.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="action">
        <div class="title">
          Contact Us
        </div>
        <div class="spacer">&nbsp;</div>
        <div class="contact">
          <a class="contact-box" href="tel:832-434-7197">
            <div class="title">
              Office
            </div>
            <div class="icon">
              <i class="fa fa-fw fa-building"></i>
            </div>
            <div class="link">
              (832) 434-7197
            </div>
          </a>
          <a class="contact-box" href="mailto:pattersonfw@gmail.com">
            <div class="title">
              Email
            </div>
            <div class="icon">
              <i class="fa fa-fw fa-envelope"></i>
            </div>
            <div class="link">
              pattersonfw@gmail.com
            </div>
          </a>
        </div>
        <div class="spacer">&nbsp;</div>
        <div class="statement">
          Vertafore, the developer of the AIM Management System for MGA's, has been referring clients, with special
          reporting needs, to Patterson Automation Solutions LLC since 2015.
        </div>
        <div class="statement">
          Patterson Automation Solutions LLC develops programs to produce special reports.
        </div>
      </div>
    </div>
    <div class="curved">&nbsp;</div>
  </div>
</template>

<script>
import Splash from '@/Shared/Splash'

export default {
  name: 'Home-Index',

  layout: (h, page) => h(Splash, [page]),

  props: {
    loggedIn: Boolean,
  },

  data()
  {
    return {
      //
    }
  },

  methods: {
    //
  }
}
</script>
