.splash {
  padding-top: 0;
  background:  $lightBlue;
  background:  linear-gradient(90deg, $lightBlue 0%, $darkBlue 100%);
  width:       100%;
  min-height:  96vh;
}

#home {
  color:       $black;
  font-family: 'Raleway';
  font-weight: 200;
  height:      96vh;
  margin:      0;

  .content {
    position:       relative;
    display:        flex;
    flex-direction: row;

    .branding {
      flex:    2;
      padding: 50px;

      .logo {
        max-width: 408px;
        position:  relative;
        top:       -45px;
        margin:    0 auto -45px;

        img {
          max-height: 300px;
          max-width:  408px;
        }
      }

      .statement {
        font-size:   1.25rem;
        font-weight: bold;
      }

      .offerings {
        display:          flex;
        flex-direction:   row;
        flex-wrap:        wrap;
        margin-top:       1rem;
        padding:          .25rem;
        border-radius:    .5rem;
        background-color: rgba(0, 0, 0, .1);

        .box {
          flex:        1;
          font-size:   1.1rem;
          color:       $gray-900;
          font-weight: 300;
          font-family: "Nunito";

          .title {
            font-weight: bold;
            color:       $white;
          }
        }
      }
    }

    .action {
      flex:             1;
      display:          flex;
      flex-direction:   column;
      border-radius:    .5rem;
      background-color: $gray-100;
      border:           1px solid $gray-300;
      padding:          50px;
      margin:           50px;

      .title {
        flex-shrink: 1;
        font-weight: bold;
        color:       $gray-800;
        font-size:   2rem;
      }

      .contact {
        flex-shrink:    1;
        display:        flex;
        flex-direction: row;

        .contact-box {
          flex:             1;
          display:          flex;
          flex-direction:   column;
          text-align:       center;
          border-radius:    .5rem;
          background-color: $gray-300;
          border:           1px solid $gray-500;
          color:            $black !important;

          &:hover {
            color:           $accentBlue !important;
            text-decoration: none;
          }

          &:first-of-type {
            margin-right: .5rem;
          }

          .title {
            flex-shrink: 1;
            font-size:   1.5rem;
          }

          .icon {
            flex:      1;
            font-size: 5rem;
          }

          .link {
            flex:        1;
            font-size:   1.5rem;
            font-weight: bold;
          }
        }
      }

      .spacer {
        flex: 1;
      }

      .statement {
        flex-shrink: 1;
        margin-top:  .5rem;
        font-weight: 300;
        color:       $gray-800;
      }
    }
  }

  .section {
    width:   100%;
    padding: 2rem;
    color:   $gray-100;

    .statement {
      font-size: 1.25rem;
    }
  }

}
