// Body
$body-bg: #f8fafc;

// Borders
$laravel-border-color:  darken($body-bg, 10%);
$list-group-border:     $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border:  $laravel-border-color;
$panel-inner-border:    $laravel-border-color;

// Site Colors
$lightBlue:             #B9D9EB;
$mediumBlue:            #407EC9;
$darkBlue:              #1D418A;
$accentBlue:            #48c9ec;

// Brands
$primary:               #3097d1;
$info:                  #8eb4cb;
$success:               #2ab27b;
$warning:               #cbb956;
$danger:                #bf5329;

// Extra Colors
$white:                 #ffffff;
$black: #000000;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$paleGreen: #98FB98;

// Bootstrap Overrides
$enable-deprecation-messages: false;

// Gray scale
$gray-base: #252830;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 66.7%);
$gray-lighter: lighten($gray-base, 93.5%);

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #ffffff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #ffffff;
